version: '3'

services:

  api:
    build:
      context: api
    command: >
            /bin/bash -c "
                until echo > /dev/tcp/postgres/5432; do sleep 1; done
                python manage.py collectstatic
                python manage.py migrate citations
                python manage.py migrate
                gunicorn -b 0.0.0.0:8000 "core.wsgi"
            "
    environment:
      - PUBLIC_CLIENT_URI=${PUBLIC_BASE_AUTHORITY}:${PUBLIC_CLIENT_PORT}
    volumes:
      - ./api/app:/srv/app
      - /srv/app/static
    depends_on:
      - postgres

  api-nginx:
    image: nginx:1.13.12-alpine
    ports:
      - '${PUBLIC_API_PORT}:80'
    volumes:
      - ./api/.docker/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - api

  client:
    build:
      context: client
    volumes:
        - ./client:/srv/app
        - /srv/app/build
        - /srv/app/node_modules
    environment:
      - PUBLIC_API_URI=${PUBLIC_BASE_AUTHORITY}:8000

  client-nginx:
    image: nginx:1.13.12-alpine
    ports:
      - '${PUBLIC_CLIENT_PORT}:80'
    volumes:
      - ./client/.docker/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - client

  postgres:
    image: postgres:9.6.8-alpine
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=rootpassword
      - POSTGRES_DB=default
    volumes:
      - 'postgres:/var/lib/postgresql/data'

volumes:
  postgres:
