[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "~=2.0.5"
django-debug-toolbar = "~=1.9.1"
djangorestframework = "~=3.8.2"
psycopg2-binary = "*"
django-filter = "~=1.1.0"
requests = "~=2.18.4"

[dev-packages]

pytest = "~=3.5.1"
pytest-django = "~=3.2.1"

[requires]

python_version = "3.6"